{% extends "main/base.html" %}
  {% block content %}
<main class="relative max-w-4xl mx-auto py-16 px-6 bg-white/80 text-black rounded-xl shadow-lg mt-10 ">
  <h1 class="text-4xl font-bold mb-6 text-center">Playlist Suggestions</h1>
  <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" action="/playlist/" method="post">
    {% csrf_token %}
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2"
        for="{{ form.invite.id_for_label }}">Invite Code</label>
        {{ form.invite }}
      <span class="text-red-500 text-xs italic">{{ form.invite.errors }}</span>
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2"
        for="{{ form.title.id_for_label }}">Song</label>
        {{ form.title }}
      <span class="text-red-500 text-xs italic">{{ form.title.errors }}</span>
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2"
        for="{{ form.artist.id_for_label }}">Artist</label>
        {{ form.artist }}
      <span class="text-red-500 text-xs italic">{{ form.artist.errors }}</span>
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2"
        for="{{ form.spotify_link.id_for_label }}">Spotify Link</label>
        {{ form.spotify_link }}
      <span class="text-red-500 text-xs italic">{{ form.spotify_link.errors }}</span>
    </div>
    <input type="submit" value="Submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
  </form>
  <h2 class="text-3xl font-bold mb-5 text-center">Current Playlist</h2>
  {% if playlist|length == 0 %}
  <p class="text-center">
  Nothing to see here. Move along.
  </p>
  {% endif %}
  {% for song in playlist %}
  {% if song.spotify_link %}<a href="{{song.spotify_link}}">{% endif %}
    {{ song.title }} by {{song.artist}}
    {% if song.spotify_link %}</a>{% endif %}
  <small class="text-right">submitted by {{song.invite}}</small>
  <br/>
  {% endfor %}
</main>
{% endblock content %}
